body{
    background-color: black;
}
.main{
    height: 70vh;
    background-color: black;
    box-shadow: inset 0 -5px 10px 5px rgba(143, 135, 135, 0.5);
    margin: 0% 5%;
}
.drop{
    background-color: aqua;
}
.category{
    border-bottom: 1px solid darkcyan;
}
